.main {
  background-color: hotpink;

  &__title {
    text-align: center;
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @media (width >= 768px) {
    //flex-direction: row;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
  }

  &__name {
    text-align: center;
  }
}

// BEM
// Body - Element - modifier
